<!--beans/-->  <!-- es la misma configuracion de abajo  -->

<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/beans_3_0.xsd"
        version="3.0" bean-discovery-mode="annotated">
        
        <interceptors>
         	<class>
         	ary.ds.interceptors.LoggingInterceptor
        	</class>
        	
         	<class>
         	ary.ds.interceptors.TranscionalInterceptor
        	</class>
        </interceptors>
 </beans>       
      <!-- version="3.0" bean-discovery-mode="all" -->

